/* *{
    background-color: rgb(166, 246, 246);
}
.maindiv{
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
form,label,input{
    border-radius: 20px;
    background-color: white;
    border-color: aquamarine;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:hover{
    border-color: blue;
}
p,a{
    background-color: white;
    display: inline-block;
}
div>p{
    background-color: rgb(166, 246, 246);
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid black;
} */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(23, 23, 102);
}
.heading{
    color: white;
    font-size: min(2rem,500px);
}
.main{
    height: 100%;
    padding: 5rem 0 5rem 5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 18px;
    background-color: black;
}
p{
    color: white;
    margin: 8px 0 8px 0;
}
input{
    height: 2.2rem;
    border: none;
    border-radius: 5px; 
    outline: none;
    padding-left: 3px;
}
.btnn{
    margin-top: 2.5rem;
}
li{
    color: white;
}
